{
  "theme": "basic",
  "hostname":{
    "colorize": true
  },
  "segments": [
    "newline",
    "newline",
    "newline",
    "newline",
    "virtual_env",
    "username",
    "hostname",
    "ssh",
    "cwd",
    "git",
    "jobs",
    "root"
  ]
}